body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, roboto, Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

.nav-container {
    background: linear-gradient(to right, lightblue, blue);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px lightpink;
}

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px lightpink;
}

.login-content input {
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    width: 100%;
}

.login-content input:hover {
    background-color: lightcyan;
    cursor: pointer;
}

textarea {
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    height: 100px;
    resize: vertical;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

textarea:hover {
    background-color: lightcyan;
    cursor: pointer;
}

.button {
    display: inline-block;
    padding: 7px;
    border: none;
    border-radius: 7px;
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.button:hover {
    background-color: #ee0000;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.button2 {
    display: inline-block;
    padding: 7px;
    border: none;
    border-radius: 7px;
    background-color: orangered;
    color: white;
    margin-left: 10px;
    text-transform: uppercase;
    position: relative;
}

.button2:hover {
    background-color: #ee0000;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.name-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 15px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clinics {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

select {
    outline: none;
}

select option {
    cursor: pointer;
}