body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, roboto, Arial, Helvetica, sans-serif;
}

.container-all {
    width: 100%;
}

.container-body {
    width: 100%;
    background-color: #F7F7F7;
}

.container-1 {
    width: 73%;
    margin: auto;
}

.tt-chucnang {
    width: 100%;
    background-color: #007EA9;
}

.tt-chucnang-1 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 7px 0px;
    justify-content: space-between;
}

.cl-black {
    color: #222;
    text-decoration: none;
}

.tt-flex {
    margin: 0;
    padding: 0;
}

.tt-vaitro {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.tt-tinhnang:hover {
    background-color: #fff;
    padding: 15px 10px;
    color: #007EA9;
}

.tt-tinhnang {
    color: #fff;
    font-size: 12px;
    padding: 0px 10px;
    text-decoration: none;
}

.tt-search-all {
    display: flex;
    justify-content: space-around;
}

.tt-search {
    display: flex;
    align-items: center;
    gap: 20px;
}

#tt-input {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-brand>img {
    height: 50px;
}

.tt-search-1 {
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.tt-button {
    margin-left: 7px;
    border: none;
    background-color: #fff;
    color: #007EA9;
    font-size: 14px;
}

.tt-icon {
    text-decoration: none;
}

.tt-icon>img {
    height: 30px;
}

.tt-boder {
    height: 20px;
    border-right: 1px solid #ccc;
}

.tt-boder-1 {
    height: 20px;
    border-right: 1px solid #ccc;
    display: none;
}

#tt-form-select {
    border: none;
    outline: none;
    box-shadow: none;
    position: relative;
    width: 100%;
}

.tt-anhvn {
    position: absolute;
    top: 5px;
    z-index: 1;
}

.icon-only {
    text-indent: -9999px;
}

.tt-ngonngu {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.tt-line {
    border-top: 1px solid #ccc;
}

#tt-menu {
    margin: auto;
    gap: 15px;
}

/* main */
/* menu hover */
.nav-item {
    position: relative;
}

.drop-down-menu {
    display: flex;
    display: none;
    position: absolute;
    flex-wrap: nowrap;
    border-radius: 5px;
    background-color: #ffffff;
    z-index: 10000;
    top: 100%;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}

.nav-item:hover .drop-down-menu {
    display: block;
    display: flex;
}

.nav-item:hover .muinhon {
    display: block;
}

.sub-menu-item a:hover {
    background-color: #f0f0f0;
    color: #0076CA;
}

.menu-item {
    position: relative;
}

.muinhon {
    display: none;
}

.muinhon:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg) translateX(-50%);
    bottom: -22px;
    left: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.muinhon:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    bottom: -22px;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    z-index: 10500;
}

.nav-item:hover .muinhon {
    display: block;
    z-index: 100;
}

.drop-down-menu>ul {
    list-style: none;
    padding: 15px;
    min-width: 150px;
    white-space: nowrap;
    margin-top: 3px;

}

.sub-menu-item:not(:last-child) {
    border-bottom: 1px solid #dfdede;
}

.sub-menu-item a {
    padding: 10px 15px;
    color: #4d4c4c;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

/* main chính */
.cover-list-news {
    height: 400px;
    max-height: 440px;
    text-align: center;
    position: relative;
}

.cover-list-news>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-cate-cover {
    position: absolute;
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    line-height: 60px;
}

.thanhtuu-bar_util {
    width: 64%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 12px -9px #000;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.thanhtuu-col-4 {
    width: 33.33333%;
}

.thanhtuu-col-4>a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.thanhtuu-col-4>a>img {
    margin-right: 10px;
    height: 30px;
}

.thanhtuu-col-4:nth-child(1) {
    padding: 15px;
    background-color: #0076c0;
}

.thanhtuu-col-4:nth-child(2) {
    padding: 15px;
    background-color: #d6982f;
}

.thanhtuu-col-4:nth-child(3) {
    padding: 15px;
    background-color: #51be9d;
}

.tt-bread-1 {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.tt-bread-1>i {
    margin-top: 3px;
}

.tt-item {
    margin-right: 5px;
    text-decoration: none;
    font-weight: 700;
    color: #0076CA;
    font-size: 14px;
}

.tt-item-1 {
    margin-left: 5px;
}

.tt-item-color {
    color: #212529;
    font-weight: 400;
}

.bs-dropdown-content {
    list-style: none;
    margin: 0;
    padding: 0;
}

.accordion-body>ul {
    list-style: none;
    padding: 15px;
    max-height: 300px;
    overflow-y: auto;
}

.bs-hospitals-items {
    margin-right: 5px;
    margin-top: 1px;
}

.bs-flex {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
}

.accordion-body>ul>li {
    padding: 8px 10px;
    line-height: 1.5;
    margin: 0 0 10px;
    width: auto;
    border-bottom: 1px solid #ddd;
}

.accordion-body>ul>li:last-child {
    border-bottom: none;
}

#accordion-body {
    width: auto;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#accordion-button {
    background: 0;
    box-shadow: none;
    padding: 0;
    display: flex;
    gap: 10px;
    font-size: 14px;
    padding-right: 24px;
    border-right: 1px solid #ddd;
}

#accordion-button-1 {
    background: 0;
    box-shadow: none;
    padding: 0;
    display: flex;
    gap: 10px;
    font-size: 14px;
    padding-right: 24px;
}

#accordion-button-1>img {
    height: 18px;
}

#accordion-button>img {
    height: 18px;
}

.bs-fill_doctor {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    z-index: 8;
    margin-bottom: 40px;
}

.bs-accordion-header {
    max-width: 220px;
}

.bs-accordion-flush {
    width: 100%;
    height: 24px;

}

.accordion-collapse.bs-accordion-collapse {
    border-radius: 5px;
    overflow: hidden;
}

#bs-accordion-header {
    margin-bottom: 5px;
}

#bs-accordion-item {
    width: 100%;
}

#hi {
    border-radius: 5px;
}

.bs-accordion-collapse {
    width: auto;
    min-width: 16%;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.bs-fill_doctor-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}

.bs-dropdown-content {
    width: auto;
    max-height: 300px;
    overflow-y: auto;
}

.bs-flex-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bs-col-6 {
    width: 45%;
}

.bs-col-6>img {
    height: 18px;
    position: absolute;
    left: 20px;
    bottom: 35px;

}

.bs-txt_name_doctor {
    width: 100%;
    position: relative;
    border: none;
    outline: none;
    padding: 12px 12px 12px 25px;
}

.bs-btn_fill_doctor {
    width: 100%;
    border: none;
    padding: 12px 20px;
    background-color: #51be9d;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.sm-title_cate_news {
    font-size: 26px;
    font-weight: 700;
    position: relative;
    margin-bottom: 35px;
}

.sm-title_cate_news:after {
    content: "";
    width: 73px;
    background: #51be9d;
    position: absolute;
    bottom: -10px;
    display: block;
    height: 3px;
}

.bs-list_doctor_cate {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.bs-list_doctor_cate li {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: calc(50% - 15px);
}

.bs-anh>a {
    text-decoration: none;
}

.bs-anh {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.bs-thumbblock>img {
    height: 140px;
    width: 100%;
    object-fit: cover;
}

.bs-btn_book_doctor {
    background-color: #0076c0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    gap: 3px;
    width: 100%;
    color: #fff;
    padding: 8px 5px 8px 5px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.7s ease;
}

.bs-btn_book_doctor>img {
    height: 18px;
}

.bs-flex-all {
    display: flex;
}

.bs-flex-one {
    width: 70%;
    margin-left: 2rem;
}

.bs-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bs-name>a {
    text-decoration: none;
    color: #0076c0;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 700;
}

.bs-name>span {
    font-size: .8rem;
    margin-top: .5rem;
}

.bs-icon_list_doctor {
    margin-top: 10px;
    display: flex;
    font-size: 14px;
    gap: 10px;
}

.bs-icon_list_doctor>img {
    height: 22px;
}

.bs-a {
    text-decoration: none;
    color: #212529;
    transition: all 0.5s ease;
}

.bs-a:hover {
    color: #0076CA;
}

.bs-btn_book_doctor:hover {
    background-color: #51be9d;
}

.tt-phantrang {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.tt-item-paging.active {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    color: #fff;
    background-color: #0076c0;
}

.tt-item-paging.active-1:hover {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    color: #fff;
    background-color: #0076c0;
}

.tt-item-paging {
    text-decoration: none;
    color: #999;
    margin: 0 5px;
    line-height: 25px;
    font-size: 15px;
    width: 25px;
}

.tt-item-paging>img {
    height: 12px;
}

/* gọi tổng đài */
.thanhtuu-col-4>button>img {
    margin-right: 10px;
    height: 30px;
}

#btn-goi {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.modal-header.model-goi {
    border-bottom: none;
    width: 95%;
    margin: auto;
}

.g-blue {
    color: #0077aa;
    font-weight: 700;
}

#exampleModalLabel {
    font-size: 1.5rem;
}

#exampleModal {
    max-height: 700px;
    overflow-y: auto;
}

.g-phone-list {
    list-style: none;
    padding: 0;
    line-height: 3;
}

.g-content {
    width: 95%;
    margin: auto;
}

.g-contact-pair {
    display: flex;
    justify-content: space-between;
}

.g-col7 {
    font-size: 14px;
}

.g-phone {
    text-decoration: none;
}

.g-button-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.g-item {
    display: flex;
}

.g-item-desc {
    display: flex;
    align-items: center;
    gap: 10px;
    width: calc(100% - 120px);
}

.g-item-desc>img {
    height: 30px;
}

.g-icon-main {
    display: flex;
    flex-wrap: wrap;
}

.g-item-title {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.g-item-text {
    font-size: 12px;
    color: #666;
}

.g-a {
    text-decoration: none;
}

.text-white {
    border: none;
    background-color: #0077aa;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
    padding: 8px;
    border-radius: 7px;
    width: 120px;
    justify-content: space-around;
}

/* footer */
.mb-hud {
    display: none;
}

.hud-buttons {
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    justify-content: space-around;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.1);
    align-items: center;
    z-index: 100000;
}

.hud-button {
    border: none;
    text-decoration: none;
    color: #222;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    padding: 0px;
    flex-direction: column;
    font-size: 0.75rem;
}

.goi-footer {
    color: #222;
    font-weight: 400;
    font-size: 0.75rem;
}

.advice-button {
    border-right: 1px solid #ccc;
}

.advice-button.active {
    border-right: none;
}

.hud-button>img {
    height: 30px;
}

/* hết phần footer chọn */
.tt-footer {
    width: 100%;
    background-color: #fff;
}

.tt-footer-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

#card-footer {
    width: 20%;
    border: none;

}

#card-body-footer {
    border-radius: 0;
    border: none;
}

#card-body-footer>h5 {
    font-size: 16px;
    font-weight: 700;
}

.tt-footer-item>a {
    text-decoration: none;
}

.tt-footer-item>a>p {
    padding: 0;
    margin: 0;
    color: #4d4c4c;
    font-size: 14px;
}

.tt-footer-item>a>p:hover {
    color: #0076c0;
}

.tt-footer-item {
    margin-top: 10px;
    line-height: 27px;
}

.card-text {
    display: flex;
}

.card-text>a {
    text-decoration: none;
    margin: 10px;
}

.card-text>a>img {
    width: 35px;
    height: 35px;
}

.tt-footer-active>a>img {
    width: 130px;
    padding: 5px;

}

.tt-footer-active-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tt-footer-thongtin>img {
    width: 200px;
    padding: 5px;

}

.tt-footer-thongtin-1>img {
    width: 130px;
}

.footer-2 {
    width: 100%;
    background-color: #F7F7F7;
}

.tt-footer-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

.tt-footer-banquyen {
    font-size: 11px;
    color: #828282;
}

.tt-footer-nolist {
    list-style: none;
    display: flex;
    padding: 7px;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    margin: 0;
    font-size: 11px;
}

.tt-footer-inline {
    padding: 1px 10px;
    margin: 0;
    border-right: 1px solid #999;
}

.tt-footer-inline>a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #828282;
}

.tt-footer-boder-none {
    border: none;
}

.tt-menu-icon {
    display: none;
}

.tt-icon-search {
    font-size: 25px;
    color: #0076c0;
    display: none;
}

.offcanvas-title>a>img {
    height: 50px;
}

.capcuu {
    width: 90%;
    margin: auto;
    font-size: 15px;
    border-bottom: 1px solid #999;
}

.capcuu>a {
    text-decoration: none;
    color: #4d4c4c;
}

.none-boder {
    border-bottom: none;
}

.accordion-button-none::after {
    display: none;
}

.accordion-button>a {
    text-decoration: none;
    color: #212529;
}

.tt-boder-1 {
    height: 20px;
    border-right: 1px solid #999;
    display: none;
}

@media (1025px < width < 1430px) {
    .container-1 {
        width: 93%;
    }

    .menu {
        width: 100%;
    }

    #tt-menu {
        gap: 5px;
    }

    #card-boder {
        height: 500px;
    }
}

@media (751px < width < 1024px) {
    .container-1 {
        width: 98%;
    }

    .menu {
        width: 100%;
        display: block;
    }

    #tt-menu {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        gap: 15px;
    }

    #navbarNav {
        display: block;
    }

    /* main */
    .bs-anh {
        width: 42%;
    }

    /* footer */
    .tt-footer-1 {
        flex-wrap: wrap;
    }

    .tt-footer-thongtin>img {
        width: 100%;
    }

    .tt-footer-thongtin-1 {
        width: 80%;
    }

    .tt-footer-thongtin-1>img {
        width: 100%;
    }
}

@media (width < 750px) {
    .container-1 {
        width: 98%;
        padding: 0 15px;
    }

    .tt-menu-icon {
        display: block;
    }

    .tt-form-none {
        display: none;
    }

    .tt-icon-search {
        display: block;
    }

    .tt-tinhnang {
        font-size: 8px;
    }

    .tt-vaitro {
        margin: auto;
    }

    .tt-menu-icon {
        font-size: 25px;
        color: #0076c0;
    }

    .tt-search-all {
        align-items: center;
        margin: auto;
    }

    .tt-anhvn {
        top: 3px;
    }

    .tt-boder-1 {
        display: block;
    }


    .tt-bottom-main {
        flex-wrap: wrap;
        align-items: center;
    }

    .tt-widget.tt-boder-right:not(:last-of-type)::after {
        content: "";
    }

    /* main */
    .thanhtuu-bar_util {
        display: none;
    }

    .cover-list-news {
        height: 240px;
    }

    .name-cate-cover {
        top: 39%;
        font-size: 30px;
    }

    .bs-list_opttion_fill {
        width: 100%;
    }

    #accordion-button {
        border-right: none;
    }

    .bs-accordion-collapse {
        width: 94%;
    }

    .bs-accordion-header {
        max-width: 100%;
    }

    .bs-fill_doctor-1 {
        gap: 15px;
    }

    .bs-flex-1 {
        gap: 15px;
    }

    .bs-col-6 {
        width: 100%;
    }

    .bs-col-6>img {
        bottom: 94px;
        height: 24px;
        min-width: 23px;
    }

    #accordion-button-1>img {
        height: 24px;
    }

    #accordion-button>img {
        height: 24px;
        min-width: 23px;
    }

    .bs-fill_doctor-1 {
        margin-bottom: 10px;
    }

    .bs-txt_name_doctor {
        padding: 12px 12px 12px 35px;
    }

    .bs-list_doctor_cate li {
        width: 100%;
        padding: 15px;
    }

    .bs-flex-one {
        width: 60%;
        margin-left: 20px;
    }

    .bs-thumbblock>img {
        height: 140px;
        width: 100%;
        object-fit: cover;
    }

    .bs-anh {
        width: 40%;
    }

    .bs-name {
        flex-wrap: wrap;
    }

    .bs-btn_book_doctor {
        font-size: 10px;
    }

    .bs-btn_book_doctor>img {
        height: 14px;
    }

    .bs-icon_list_doctor {
        font-size: 13px;
    }

    .mb-hud {
        display: block;
    }

    /* footer */
    .tt-footer-1 {
        flex-wrap: wrap;
    }

    .tt-footer-thongtin>img {
        width: 100%;
    }

    .tt-footer-thongtin-1 {
        width: 80%;
    }

    .tt-footer-thongtin-1>img {
        width: 100%;
    }

    #card-footer {
        width: 45%;
    }

    .tt-footer-active {
        display: flex;
        flex-direction: column;
    }

    .tt-footer-2 {
        justify-content: flex-end;
        flex-direction: column;
    }

    .tt-footer-nolist {
        flex-direction: column;
    }

    .tt-footer-inline {
        border: none;
    }

    .tt-footer-banquyen {
        order: 2;
    }
}