/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./public/css/user/acenocoumarol.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.container_body {
    padding: 20px;

}
.tt-bread>a {
    text-decoration: none;
    font-weight: 700;
    color: #e2e6e9;
}
.banner {  
    background-color: #007bff;  
    color: white;  
    padding: 20px;  
}  

.btn-outline-light {  
    margin: 5px;  
    transition: background-color 0.3s, color 0.3s; /* Thêm chuyển đổi */  
}  

.btn-outline-light:hover {  
    background-color: white; /* Màu nền khi hover */  
    color: #007bff; /* Màu chữ khi hover */  
    border-color: white; /* Thay đổi màu viền khi hover */  
}  

.tt-bread {  
    margin-bottom: 15px;  
}  

.tt-item {  
    color: white;  
    text-decoration: none;  
}  

.tt-item:hover {  
    text-decoration: underline; /* Gạch chân chữ khi hover */  
}  
 
.title_detail_sick {  
    margin-top: 20px;  
}  
.list_topic_bottom_detail_drug a {  
    margin-right: 10px;  
}  


.container_body {  
    padding: 20px;  
}  

.title_detail_sick {  
    font-size: 1.3rem; 
    font-weight: bold; 
    position: relative; 
    padding-bottom: 10px;
    margin-bottom: 15px; 
}  


.title_detail_sick::after {  
    content: "";  
    position: absolute;   
    left: 0;   
    bottom: 0;  
    width: 10%;  
    height: 4px; 
    background-color: #89f8c1; 
}
.body {  
    font-size: 1rem;  
    line-height: 1.5;  
}  

.list_sick_right {  
   
    padding: 0;  
}  

.list_sick_right li {  
    margin-bottom: 10px;  
}  

.list_sick_right a {  
    text-decoration: none;  
    color: #007bff;   
}  

.list_sick_right a:hover {  
    text-decoration: underline;  
}  

.ads_right {  
    margin-top: 20px;  
}
.col-md-8 {
    flex: 0 0 auto;
    margin-left: 100px;
    width: 55.666667%;
}
.h1, h1 {
    margin-left: 100px;
    text-align: left;
    font-size: 2.5rem;
}

.tt-bread {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-left: 100px;
}
.text-light {
    --bs-text-opacity: 1;
    color: rgb(16 16 16) !important;
}
.col-md-4 {
    flex: 0 0 auto;
    width: 28.333333%;
}
.row {
    gap: 10px;
}
  
